@font-face {
  font-family: 'NunitoSans';
  font-weight: 100;
  src: url(../fonts/NunitoSans-Light.ttf);
}


@font-face {
  font-family: 'NunitoSans';
  font-weight: 200;
  src: url(../fonts/NunitoSans-SemiBold.ttf);

}
//@font-face {
//  font-family: 'NunitoSans';
//  font-weight: 300;
//  src: url(../fonts/go-light.ttf);
//}


@font-face {
  font-family: 'NunitoSans';
  font-weight: 400;
  src: url(../fonts/NunitoSans-Regular.ttf);
}

//@font-face {
//  font-family: 'NunitoSans';
//  font-weight: 500;
//  src: url(../fonts/go-book.ttf);
//}

@font-face {
  font-family: 'NunitoSans';
  font-weight: 600;
  src: url(../fonts/NunitoSans-Bold.ttf);
}


@font-face {
  font-family: 'NunitoSans';
  font-weight: 700;
  src: url(../fonts/NunitoSans-SemiBold.ttf);
}

@font-face {
  font-family: 'NunitoSans';
  font-weight: 800;
  src: url(../fonts/NunitoSans-ExtraBold.ttf);
}
