@mixin xs() {
  @media screen and (max-width: #{$screen-xs}) {
    @content
  }
}

@mixin sm() {
  @media screen and (max-width: #{$screen-sm}) {
    @content
  }
}
@mixin md() {
  @media screen and (max-width: #{$screen-md}) {
    @content
  }
}

@mixin lg() {
  @media screen and (max-width: #{$screen-lg}) {
    @content
  }
}
@mixin placeholder($color, $size, $weight, $transform: none, $textAlign: left ) {
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-transform: $transform;
    text-align: $textAlign;
  }

  &::-moz-placeholder {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-transform: $transform;
    text-align: $textAlign;
  }
  &:-moz-placeholder {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-transform: $transform;
    text-align: $textAlign;
  }

  &:-ms-input-placeholder {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-transform: $transform;
    text-align: $textAlign;
  }

  &:focus {
    outline: none
  }
}