/* start check-you-email */

.check-you-email-wrap {
  background: #f4f9fe;
  min-height: 100vh;
  padding-bottom: 30px;
}

.check-you-email {
  width: 55%;
  margin: 0 auto 20px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  &_title {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &_sub-title {
    font-size: 20px;
    margin-bottom: 30px;
    &__strong {
      font-weight: 600;
    }
  }
  &_form {
    margin-bottom: 30px;
  }
  &_form-info {
    font-size: 20px;
    line-height: 1.4;
    margin: 30px 0;
  }
  &_box-img {
    max-height: 400px;
  }
}

.check-email-elem {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  &_inputs{
    border: 1px solid #a2a2a2;
    display: flex;
    width: calc(100%/2 - 15px);
    border-radius: 5px;
    input {
      height: 95px;
      flex-grow: 1;
      border: none;
      border-right: 1px solid #a2a2a2;
      font-size: 72px;
      text-align: center;
      text-transform: uppercase;
      width: 33.3%;
      background: none;
      &:focus {
        outline-color:  #ffb900;
      }
      &:last-child {
        border: none;
      }
    }

  }
  &_and {
    width: 30px;
    text-align: center;
    font-weight: 800;
    font-size: 18px;

  }
}


/* end check-you-email */