/* start coming-soon */

.coming-soon-wrap {
  background-image: url('../img/coming-soon.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.coming-soon {
  padding-top: 200px;
  &_title {
    color: #fff;
    font-size: 72px;
    text-align: center;
  }
}

/* end coming-soon */