/* start common */

body {
  font-family: $font-stack, Arial, sans-serif;
  font-size: 14px;
  //font-weight: 100;
}
input, textarea, button {
  font-family: $font-stack, Arial, sans-serif;
}

.container-inner {
  padding: 0 80px;
}

img {
  max-width: 100%;
}

.header-padding {
  padding-top: 110px;
}

.not-upper {
  text-transform: none !important;
}

.bg-dark-gradient {
  background: linear-gradient(to right, #fdfdfd, rgb(234, 234, 234));
}

.link-action {
  border-radius: 5px;
  padding: 7px 40px;
  color: rgb(74,74,74);
  &:hover {
    color: #000;
  }
  &.active {
    font-weight: 800;
    color: #000;
    background-color: $main-color;
    transition: .3s;
    &:hover {
      background: #f7b300;
    }
  }
}

.main-logo {
  img {
    max-width: 130px;
    max-height: 40px;
  }
}

.m-b-30 {
  margin-bottom: 30px;
}

.btn {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
  color: #000;
  padding: 17px 60px;
  box-shadow:  3px 2px 15px rgba(0, 0, 0, .15);
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
  border: none;
  transition: .3s;
  line-height: 1.2;
  &:hover {
    background: #FFFDEC;
  }
  &__full-width {
    width: 100%;
    text-align: center;
  }
  &__medium {
    padding: 17px 20px;
  }
  &__light {
    background: $main-color;
    &:hover {
      background: #f7b300;
    }
  }
  &[disabled] {
    color: rgba(0,0,0,.6);
    background: rgba(255, 185, 0, .4);
    box-shadow: none;
    cursor: not-allowed;
  }
}

.btn-add-another {
  border: none;
  background: none;
  color: rgb(34, 109, 197);
  font-size: 16px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}

.tooltip {
  position: absolute;
  background: #fff;
  z-index: 8;
  padding: 15px;
  bottom: calc(100% + 15px);
  box-shadow: 0 1px 18px rgba(0, 0, 0, .07);
  width: 100%;
  display: none;
  &.active {
    display: block;
  }
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: #fff transparent transparent;
  }
}

.strong {
  font-weight: 800;
}

.get-started-wrap {
  background: linear-gradient(to bottom, rgb(255, 195, 38), rgb(255, 185, 0));
}

.get-started {
  &__small {
    padding: 50px 0;
  }
  padding: 140px 0 180px;
  text-align: center;
  &_title {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 100px;
  }
}

/* tads */
.js-nav-content {
  display: none;
  &.active {
    display: block;
  }
}

/* end common */
//p {
//  @include placeholder(red, 14px, 400)
//}
//@include xs() {
//  p {
//    color: red;
//  }
//};