/* start contact-us */
.contact-us-wrap {
  padding: 85px 0 150px;
  background: linear-gradient(130deg, rgb(148, 248, 254), rgb(255, 226, 202));
}
.contact-us {
  &_title {
    font-size: 64px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 25px;
  }
  &_sub-title {
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 5px;
    font-weight: 700;

  }
  &_form {
    max-width: 50%;
    margin: -80px auto 70px;
    padding: 25px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  &_privacy-link {
    margin-top: 20px;
    color: rgb(34, 109, 197);
    font-size: 16px;
    text-decoration: underline;
    display: inline-block;
  }
}
/* end contact-us */