/* start footer */

.footer-menu-wrap {
  background: rgb(247, 247, 247);
}
.footer-menu {
  padding: 50px 0;
  display: flex;
  &_nav {
    margin-left: auto;
    padding-right: 80px;
    min-width: 65%;
  }
  &_meta-social {
    display: flex;
    justify-content: space-between;
  }
}
.footer-nav {
  &_title {
    color: rgb(155, 155, 155);
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 200;
    white-space: nowrap;
  }
  &_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 5px;
      a {
        color: #000;
        font-size: 16px;
        line-height: 1.4;
        &:hover {
          font-weight: 800;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

  }
}
.footer-menu_meta-social-wrap {
  background: rgb(233, 233, 233);
  padding: 15px 0;
}
.meta-social-nav {
  list-style-type: none;
  li {
    display: inline-block;
    a {
      font-size: 16px;
      color: #000;
      &:hover {
        font-weight: 800;
      }
      &:after {
        display: block;
        content: attr(title);
        font-weight: 800;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.meta-social-links {
  a {
    display: inline-block;
    margin-right: 20px;
    opacity: 1;
    transition: .3s;
    &:hover {
      opacity: .8;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

/* end footer */