/* start header */

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 9;
  transition: .3s;
  &_no-bg {
    background: none;
  }
}
.main-navbar {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  //padding: 10px 0;
  &_menu {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 100px;
    display: flex;
    align-items: center;
    height: 50px;
  }
  &_link {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
.main-navbar_menu {
  > li {
    margin-right: 55px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    //&:hover {
    //  .main-navbar_sub-menu {
    //    display: block;
    //  }
    //}
    &:last-child {
      margin-right: 0;
    }
    //> a:hover {
    //  &+ .main-navbar_sub-menu {
    //        display: block;
    //      }
    //}
    a {
      //font-weight: 200;
      color: rgb(74,74,74);
      &:hover{
        //font-weight: 800;
        color: #000;
      }
      &:after {
        display: block;
        content: attr(title);
        font-weight: 800;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
    &.open {
      > a {
        //font-weight: 800;
        color: #000;
      }
      .main-navbar_sub-menu {
        display: block;
      }
    }
  }
}
.main-navbar_sub-menu {
  position: absolute;
  list-style-type: none;
  top: calc(100% - 10px);
  left: 0;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  display: none;
  li {
    font-size: 10px;
    padding: 5px 25px 5px 10px;
    white-space: nowrap;
    text-transform: uppercase;
    a {
      text-transform: none;
      white-space: nowrap;
      color: rgb(74, 74, 74);
      font-size: 14px;
      //font-weight: 400;
      display: block;
    }
    &:hover {
      background-color: rgb(250, 250, 250);
    }
    &.main-navbar_no-hover:hover {
      background-color: #fff;
    }
  }

}

.padding-to-header {
  padding-top: 60px;
}

/* end header */