/* start how-it-works */

.how-work-main-hero {
  background-image: url('../img/how-work-main-bg.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;
  padding-bottom: 50px;
  padding-top: 20px;
  margin-bottom: 50px;
  &_title {
    font-size: 64px;
    font-weight: 800;
    color: rgb(26, 26, 26);
    max-width: 50%;
    margin-bottom: 30px;
  }
}
.how-work-video-wrap {
  background-image: url('../img/video_bg.png');
  //background-position: left bottom;
  background-size: contain;
  //background-position: left center;
  background-repeat: no-repeat;
  padding: 150px 0 120px;
  background-position: 56px 23px;
}
.how-work-video-box {
  &_video {
    border-radius: 5px;
    video {
      min-height: 400px;
    }
  }
  &_content-bg {
    //background-image: url('../img/video_bg.png');
    //background-size: contain;
    //background-repeat: no-repeat;
    //background-position: 0;
  }
  &_title {
    font-size: 40px;
    font-weight: 600;
    color: rgb(26, 26, 26);
    margin-bottom: 40px;
  }
  &_content {
    font-size: 21px;
    line-height: 1.3;
  }
}
.how-work-tabs-wrap {
  padding: 80px 0;
}
.how-work-tabs {
  background-image: url('../img/how-work-tads-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  &_title {
    font-size: 64px;
    text-align: center;
    color: rgb(26, 26, 26);
    margin-bottom: 20px;
    font-weight: 600;
  }
  &_sub-title {
    max-width: 65%;
    margin: 0 auto 70px;
    font-weight: 700;
    font-size: 27px;
    text-align: center;
    line-height: 1.4;
  }
  &_nav {

  }
  &_nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    li {
      flex-basis: 100%;
      padding: 10px 0;
      font-size: 22px;
      font-weight: 700;
      text-align: center;
      transition: .3s;
      //width: 100%;
      cursor: pointer;
      &.active,
      &:hover {
        background-color: #e4e4e4;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }
  &_wrap-content {
    //background: #fff;
    padding-top: 20px;
    background-image: url("../img/svg/tabs_content_bg.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
  }
  &_content {
    position: relative;

  }
  &_content-img {
    //max-height: 400px;
    box-shadow: 3px 10px 15px rgba(0,0,0,.1);
    border-radius: 15px;
    position: relative;
    background: #fff;
    z-index: 2;
  }
  &_content-list-title {
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0 40px;
  }
  &_content-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 30px;
      position: relative;
      font-size: 21px;
      margin-bottom: 25px;
      color: rgb(26, 26, 26);
      line-height: 1.2;
      &:last-child {
        margin-bottom: 0;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #000;
      }
    }
  }
}
.how-work-tabs-quote-wrap {
  padding: 40px 40px 40px calc(50% + 90px);
  //background: rgb(130, 210, 255);
  //width: 75%;
  //margin-left: auto;
  position: absolute;
  bottom: -30px;
  z-index: 1;
  right: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  &:after {
    content: '';
    position: absolute;
    width: 75%;
    height: 100%;
    right: 0;
    top: 0;
    background: rgb(130, 210, 255);
    z-index: -1;
    border-radius: 10px;
  }
  &_inner {
    position: relative;
    &:after {
      content: '';
      right: calc(100% + 15px);
      top: 0;
      background-image: url('../img/quote.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      height: 50px;
      width: 60px;
    }
  }
  &_quote {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.4;
  }
  &_author {
    font-size: 18px;
  }
}
.how-work-info-blocks-wrap {
  padding: 40px 0 10px;
}
.how-work-info-block-single {
  box-shadow: 3px 5px 15px rgba(0,0,0,.08);
  background-color: #fff;
  padding: 15px 15px 50px;
  border-radius: 5px;
  height: 100%;
  &_icon {
    width: 60px;
    height: 60px;
    background-color: rgb(252, 241, 202);
    border-radius: 5px;
    margin-bottom: 20px;
  }
  &_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &_content {
    font-size: 18px;
    line-height: 1.4;
  }
}
.how-work-integrations-wrap {
  background-image: url('../img/how-work-Integrations.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 140px 0 115px;
}
.how-work-integrations {
  &_title {
    font-size: 44px;
    margin-bottom: 25px;
    font-weight: 600;
    line-height: 1.3;
  }
  &_main-content {
    font-size: 21px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
}
.how-work-integrations-cart {
  margin-bottom: 115px;
  &_img {
    //max-height: 400px;
    box-shadow: 3px 10px 15px rgba(0,0,0,.1);
    border-radius: 15px;
  }
  &_title {
    font-size: 36px;
    margin: 40px 0 25px;
    font-weight: 600;
  }
  &_info {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  &_footer-info {
    font-size: 21px;
    line-height: 1.2;
  }
  &_wrap-carts {

  }
  &_icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  &_icon {
    img {
      width: 60px;
      height: 60px;
    }
  }
}
.how-work-integrations-security {
  &_title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 36px;
  }
  &_content {
    font-size: 21px;
    max-width: 65%;
    line-height: 1.2;
  }
  &_list-title {
    font-size: 24px;
    color: rgb(26, 26, 26);
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 36px;
  }
  &_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 30px;
      position: relative;
      font-size: 21px;
      margin-bottom: 25px;
      color: rgb(26, 26, 26);
      line-height: 1.2;
      &:last-child {
        margin-bottom: 0;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #000;
      }
    }
  }
}
/* end how-it-works common */

.data {
  color: red;
  font-size: 14px;
  overflow: hidden;
  opacity: 1;
}