/* start index */

.main-hero-wrap {
  padding-bottom:60px;
}
.main-hero {
  &_row {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  &_part-1 {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
  }
  &_part-2 {
    width: 62%;
  }
  &_title {
    font-size: 60px;
    color: rgb(26,26,26);
    font-weight: 800;
    margin: 30px 0 20px;

  }
  &_content {
    font-size: 18px;
    line-height: 1.4;
    color: rgb(51,51,51);
    margin-bottom: 40px;
    max-width: 80%;
  }

}
.get-started-form {
  display: flex;
  &_group {
    margin-right: 30px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
  }
  &_input {
    height: 55px;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    width: 240px;
    font-size: 14px;
    display: block;
    padding: 10px;
    @include placeholder(rgb(155, 155, 155), 14px, 400);
    margin-bottom: 10px;
  }
  &_sing-up {
      color: rgb(187, 136, 0);
    font-weight: 100;
      a {
        color: inherit;
      }
  }
}
.main-slider {
  min-height: 500px;
  position: relative;
  &_item {
    &.animation {
      animation: scale 8s infinite;
    }

  }
  &_item-main {
    min-height: 500px;
    box-shadow: 22px 15px 22px 0 rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-radius: 10px;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('../img/gradient.png');
      background-repeat: no-repeat;
      background-position: -10px 0px;
      //background-position: ;
    }
  }
  &_item-top,
  &_item-bottom {
    position: absolute;
    box-shadow: 0 0 14px 6px rgba(0,0,0,.1);
    width: 160px;
    height: 160px;
    right: -80px;
    //right: 0;
    //transform: translateX(50%);
    z-index: 5;
    border-radius: 10px;
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &_item-top {
    top: 30px;
  }
  &_item-bottom {
    bottom: 60px;
  }
}

.statement-wrap {
  background-image: url('../img/statement_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 60px 0;
  margin-bottom: 20px;
}
.statement {
  &_title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 15px;
    color: rgb(26, 26, 26);
  }
  &_sub-title {
    font-size: 24px;
    margin-bottom: 35px;
  }
}
.statement-item-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px;
}
.statement-single-item {
  width: 33.3%;
  padding: 0 30px 60px;
  &_inner {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow:  3px 10px 15px rgba(0,0,0,.08);
    height: 100%;
  }
  &_img {
    max-height: 60px;
    margin-bottom: 5px;
  }
  &_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgb(26, 26, 26);
  }
  &_content {
    font-size: 19px;
    line-height: 1.4;

  }
}

.news-wrap {
  background-image: url('../img/news_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 60px 0;
}
.news {
  &_title {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    color: rgb(26, 26, 26);
  }
  &_content {
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 50px;
  }
}
.single-news-box {
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
  background: #fff;
  display: block;
  color: #000;
  transition: .3s;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
  }
  &_img {
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &_content {
    padding: 20px 20px 55px;
    position: relative;
    height: calc(100% - 140px);
  }
  &_category {
    font-size: 20px;
    margin-bottom: 10px;
  }
  &_title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &_link {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    left: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    font-weight: 200;
    color: rgb(22, 106, 162);
  }
}

@keyframes scale {
  0% {
    //opacity: 0;
    transform: scale(0);
  }
  10% {
    //opacity: 1;
    transform: scale(1);
  }
  90% {
    //opacity: 1;
    transform: scale(1);
  }
  100% {
  //  opacity: 0;
    transform: scale(0);
  }
}

/* end index */