/* start sign-up */
.sing-up-header {
  height: 50px;
  box-shadow: 0 2px 2px rgba(216, 216, 216, .2);
  &_padding-top {
    padding-top: 40px;
  }
  &_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
}
.sign-up-wrap {
  min-height: 100vh;
  overflow-x: hidden;
}
.sing-up-img-wrap {
  min-height: 100vh;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 0 30px 40px;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    background: rgb(244, 249, 254);
    min-height: 100vh;
    height: 100%;
  }
}
.sing-up-img {
  width: 400px;
  height: 370px;
  background: #fff;
  position: relative;
  display: flex;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  &.active {
    .sing-up-img {
      &_left {
        background: #6582a2;
      }
      &_right {
        &_title-part-1,
        &_title-part-2,
        &_title-part-3,
        &_title-part-4 {
          background: rgb(225, 230, 234)
        }
        &_content {
          background-color: rgb(225, 230, 234)
        }
      }
    }
  }
  &_left {
    width: 30%;
    height: 100%;
    background: rgba(16, 62, 114, 0.2);
    padding: 15px 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    &_title-wrap {
      display: flex;
      margin-bottom: 12px;
    }
    &_title {
      height: 7px;
      width: 85%;
      background-color: rgb(255, 255, 255);
      border-radius: 2px;
    }
    &_icon {
      width: calc(15% - 5%);
      margin-left: 5px;
      height: 7px;
      border-radius: 2px;
      background-color: rgb(240, 243, 246);
    }
    &_company-name {
      font-size: 10px;
      margin-bottom: 10px;
    }
    &_project-name {
      border-radius: 2px;
      margin-bottom: 5px;
      position: relative;
      font-size: 10px;
      height: 19px;
      padding: 3px 3px 3px 20px;
      background-color: rgb(240, 243, 246);
      color: rgb(255,255,255);
      &.active {
        background-color: rgb(68, 99, 118);
      }
      &:after {
        content: '';
        position: absolute;
        width: 13px;
        height: calc(100% - 6px);
        left: 3px;
        top: 3px;
        border-radius: 2px;
        background-color: rgb(202, 209, 214);
      }
    }
  }
  &_right{
    width: 70%;
    height: 100%;
    padding: 15px 7px;
    &_title-wrap {
      display: flex;
      margin-bottom: 12px;
      &_left {
        display: flex;
        width: 50%;
        justify-content: flex-start;
      }
      &_right{
        display: flex;
        width: 50%;
        justify-content: flex-end;
      }
    }
    &_title-part-1,
    &_title-part-2,
    &_title-part-3,
    &_title-part-4 {
      height: 7px;
      background-color: rgb(240, 243, 246);
      border-radius: 2px;
    }
    &_title-part-1 {
      width: 25%;
    }
    &_title-part-2 {
      width: 60%;
      margin-right: 5px;
    }
    &_title-part-3 {
      width: 5%;
      margin-right: 5px;
    }
    &_title-part-4 {
      width: 5%;
    }
    &_content {
      background-color: rgb(240, 243, 246);
      padding:  5px 10px 50px;
      border-radius: 3px;
    }
    &_content-title {
      min-height: 20px;
      font-size: 10px;
    }
    &_content-body {
      width: 100%;
      height: 80px;
      background-color: rgb(255, 255, 255);
      border-radius: 3px;
    }
    &_content-footer {
      height: 100px;
      background: url("../img/svg/app_avatars.svg");
      background-size: cover;
      background-repeat: no-repeat;

    }
  }
}
.sing-up-info {
  background: #fff;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  padding-right: 40px;
  &_inner {
    max-width: 90%;
    padding: 80px 0 30px;
  }
  &_title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &_sub-title {
    font-size: 22px;
    margin-bottom: 30px;
    line-height: 1.3;
  }
  &_skip {
    font-size: 16px;
    text-align: center;
    a {
      color: rgb(34, 109, 197);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &_agree {
    font-size: 18px;
    margin-top: 30px;
    line-height: 1.4;
    a {
      color: rgb(34, 109, 197);
    }
  }
  &_form {

  }
}

/* end sign-up */