/* start sing-in */

.sing-in-wrap {
  background-color: #f4f9fe;
  min-height: 100vh;
  padding-bottom: 30px;
}
.sing-in {
  &_body {
    padding: 30px 100px 50px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 60%;
    margin:  0 auto 40px;
    text-align: center;
  }
  &_title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &_sub-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  &_form-label{
    font-size: 20px;
    font-weight: 700;
    margin: 50px 0 10px;
    text-align: left;
  }
  &_workspace-room {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &_domain {
      font-size: 24px;
      font-weight: 700;
    }
    &_input {
      flex-grow: 1;
      margin-right: 5px;
      border: 1px solid #a2a2a2;
      border-radius: 5px;
      height: 55px;
      font-size: 24px;
      padding: 0 10px;
      font-weight: 700;
      color: #000;
      outline: none;
      box-shadow: none;
      background: transparent;
      -webkit-appearance: none;
      text-align: right;
      transition: .3s;
      @include placeholder(rgb(150, 150, 150), 18px, 400, none, right);
      &:focus {
        border-color: #ffb900;
      }
    }
  }
  &_btn-text,
  &_btn-icon {
    display: inline-block;
    vertical-align: middle;
  }
  &_btn-icon {
    margin: -2px 0 0 10px ;
    width: 10px;
    height: 10px;

  }
  &_footer {
    text-align: center;
  }
  &_footer-info {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
  }

  &_footer-link,
  &_link {
    color: rgb(34, 109, 197);
    font-size: 16px;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
    }

  }
  &_remember {
    display: flex;
    align-items: center;
    margin: 10px 0 30px;
    font-size: 16px;
    input {
      margin-right: 5px;
    }
  }
}

/* end sing-in */