/* start solution */

.solution-first-bg {
  background-image: url('../img/solution_bg_2.png');
  background-repeat: no-repeat;
  background-position: 100px 50%;
  background-size: contain;
}
.solution-hero-wrap {
  padding-bottom: 70px;
}
.solution-hero {
  &_part-1 {
    padding-left: 60px;
  }
  &_info {
    padding-right: 50px;
  }
  &_img {
    //box-shadow: 22px 15px 22px 0px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 100%;
    //max-height: 850px;
  }
  &_title {
    font-size: 64px;
    font-weight: 800;
    color: rgb(26, 26, 26);
    padding-top: 40px;
    margin-bottom: 20px;
  }
  &_sub-title {
    font-size: 24px;
    margin-bottom: 40px;
    p {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &_help {
    font-size: 28px;
    letter-spacing: 0.7px;
    font-weight: 600;
    margin-bottom: 70px;
  }
  &_help-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      position: relative;
      margin-bottom: 45px;
      padding-left: 30px;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background-image: url('../img/svg/triangle.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      a {
        font-size: 22px;
        letter-spacing: 0.7px;
        //font-weight: 600;
        color: #000;
      }
    }
  }
}

.solution-case-wrap {
  padding: 70px 0;
}
.solution-case {
  &_name {
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
    padding-top: 30px;
  }
  &_title {
    font-weight: 600;
    font-size: 44px;
    line-height: 1.2;
    color: rgb(26, 26, 26);
    margin-bottom: 38px;

  }
  &_description {
    font-size: 24px;
    margin-bottom: 65px;
    line-height: 1.3;
  }
  &_instructions-list-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 65px;
  }
  .solution-case-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &_title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    &_content {
      font-size: 20px;
      color: rgb(74,74,74);
    }
  }
  &_img {
    max-height: 800px;
  }
}
.solution-case-quote {
  width: 70%;
  margin: 80px auto 0;
  border-radius: 10px;
  background: rgb(130, 210, 255);
  padding: 30px 25px;
  display: flex;
  &_info {
    width:40%;
    padding-right: 30px;
  }
  &_content {
    width: 60%;
  }
  &_info-percent {
    font-size: 90px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 15px;
  }
  &_info-description {
    font-weight: 100;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
  }
  &_content-quote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  &_content-author {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
  }
}

.hover-solution-tooltip {
  display: inline-block;
  position: relative;
  cursor: pointer;
  &_title {
    border-bottom: 1px dashed #000;
    transition: .3s;
    &:hover {
      border-color: #c50000;
    }
    //display: inline-block;
  }
  &:hover {
    .solution-tooltip {
      display: block;
    }
  }
}

.solution-tooltip {
  position: absolute;
  background: #fff;
  z-index: 8;
  left: 5px;
  padding: 15px;
  top: calc(100% + 20px);
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.07);
  width: 300px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  display: none;
  color: rgb(74,74,74);
  &_title {
    font-weight: 600;
    margin-bottom: 5px;
  }
  &:after {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid #fff;
    border-right: 10px solid transparent;
  }
}

/* end solution */