/* start terms policies */
.terms-policies-wrap {
  padding: 60px 0;
}
.terms-policies {
  &_title {
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    padding-bottom: 40px;
  }
  &_nav {
    &_title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    &_list {
      list-style-type: none;
      padding: 0;
      margin: 0 0 30px;
      li {
        margin-bottom: 10px;
        a {
          font-size: 18px;
          color: rgb(74, 74, 74);
          transition: .3s;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  &_content {
    line-height: 1.3;
    &_h2 {
      font-size: 42px;
      letter-spacing: 0.4px;
      margin-bottom: 20px;
    }
    &_h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    &_text {
      margin-bottom: 20px;
      font-size: 18px;
      a {
        color: rgb(34, 109, 197);
        text-decoration: underline;
      }
    }
  }
}
.terms-policies-box {
  padding: 20px 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
  border-radius: 5px;
  transition: .3s;
  &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(0,0,0,.2);
      .terms-policies-box_link_content {
        font-weight: 600;
      }
  }
  &_body {
    flex: auto;
    //flex-grow: 1;
  }
  &_footer {
    flex: none;
  }
  &_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;

  }
  &_sub-title {
    font-size: 18px;
    line-height: 1.3;
  }
  &_img {
    text-align: center;
    img {
      max-height: 250px;
    }
  }
  &_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_content {
      font-size: 14px;
      text-transform: uppercase;
    }
    &_icon {
      img {
        max-width: 11px;
      }
    }
  }
}
/* end terms policies */